Large list of channels cause Quit due to "excess flood"

When joining a large number of channels (e.g. 40) in freenode, the bot is disconnected because of excess flood. This happens even when setting the 'throttle_join=1'.

It seems that the 'throttle_join' command does not help because it just limits the JOIN commands. After all channels are joined, sopel sends TOPIC and WHO commands for each channel joined which seem to cause the excess flood.

A workaround is to use a custom module that joins each channel after a few seconds. In this way, the TOPIC and WHO commands are called right after joining the channel instead of being sent in batch at the end.


Only after exiting 'coretasks.startup()', sopel processes the JOIN confirmations from the server and these confirmations trigger a flood of TOPIC and WHO commands. The 'time.sleep()' call for implementing 'throttle_join' seems to be problem.


So this happens because we only rate limit on `.msg()` (which is PRIVMSG) and not on `.write()` which we use for everything else.

While the bot still needs a way to send arbitrary IRC commands without passing through the rate-limiter, it makes sense to have `.write()` rate-limited by default as well.

This is not just a matter of moving the current rate-limiter code to `.write()`, because it works on a per-destination (usually channel) basis, and not globally.

That's an interesting bug. A user recently come up on IRC asking for a solution.

At first, one could think the solution would be to flood-protect everything. However, that would be rather difficult, given the nature of the problem: everything is asynchronous.

The root cause of the problem is *not* in an excess of JOIN (even though it doesn't help), but whenever the bot received a JOIN event from the server, if it's for itself, it'll send a TOPIC request and a WHO request (see [track_join](https://github.com/sopel-irc/sopel/blob/v6.6.9/sopel/coretasks.py#L407-L431) in `sopel.coretasks`).

The `TOPIC` should probably be removed, because server are supposed to send a `RPL_TOPIC`, per [RFC 1459 Section 4.2.1](https://tools.ietf.org/html/rfc1459#section-4.2.1). This event is the exact same event as a result of a `TOPIC` command (see [RFC 1459 Section 4.2.4](https://tools.ietf.org/html/rfc1459#section-4.2.4)). Removing that command would greatly limit the flood.

Then, there is a `WHO` request send. As mentioned by @dgw, Sopel wants to track **all** privilege levels for every users, but the `RPL_NAMEREPLY` event provides only the **highest** level of privilege for each user. Per [RFC 1459 Section 4.5.1](https://tools.ietf.org/html/rfc1459#section-4.5.1), the server will reply to a `WHO` command with a `RPL_WHOREPLY` which contains more information than the `RPL_NAMEREPLY`.

However, we have multiple choices here to remove this WHO command:

* use an "eventually consistent" approach, since Sopel now periodically send WHO commands to channels to keep track of user modes and away status
* whenever a MODE is removed, and only in that case, send a WHO command to keep track of other privileges (as @dgw said, it's "eventually consistent **faster**")
* build some kind of general throttle on `send` (I don't like that, it makes everything super slow in some case)
* build a `send-queue` so we don't block stuff (I don't like that, it makes everything more complicated)
* directly send a JOIN *and* a WHO request per channel to join, *then* sleep for a second or two

I'm not sure what is the right approach here, I've to think about it. We would like to fix that - or at least partially - for Sopel 7.0.0 planned by the end of 2019 (very soon, so).

In the end, I'd note that if someone has a lot of channels to join with its bot, maybe the best solution is to rely on an external tool, like ZNC.

With a batch of PR, I think this issue will be fixed: #1749, #1750, and #1751. In particular, #1751 really limit the flood of WHO commands.

If someone with a lot of channels to join wants to test, be my guest!

We've already cut the bot's command traffic during JOINs in half with #1749. #1751 will give the user more control, but I don't feel the need to wait until it's finished and merged before we close this. It's _going_ to happen.